<div class="article-page">
  <div class="banner">
    <div class="container" *ngIf="article$ | async as article">
      <h1>{{article.title}}</h1>
      <div class="article-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image">
        </a>
        <div class="info">
          <a [routerLink]="['/profiles', article.author.username]">{{article.author.username}}</a>
          <span class="date">{{ article.createdAt }}</span>
        </div>

        <span *ngIf="isAuthor$ | async">
          <a [routerLink]="['/articles', article.slug, 'edit']" class="btn btn-outline-secondary btn-sm">
            <i class="ion-edit"></i>
            Edit article
          </a>
          <button class="btn btn-outline-danger btn-sm" (click)="deleteArticle()">Delete Article</button>
        </span>
      </div>
    </div>
  </div>
  <div class="container page">
    <mc-loading *ngIf="isLoading$ | async"></mc-loading>
    <mc-error-message *ngIf="error$ | async"></mc-error-message>

    <div class="row article-content" *ngIf="article$ | async as article">
      <div class="col-xs-12">
        <div>
          <p>{{ article.body }}</p>
        </div>
        <mc-tag-list [tags]="article.tagList"></mc-tag-list>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        ADD AUTH CONDITION
        <div>
          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset [disabled]="false">
              <div class="card-block">
                <textarea
                  class="form-control"
                  placeholder="Write a comment..."
                  rows="3"
                  [formControl]="commentControl"
                ></textarea>
              </div>
              <div class="card-footer">
                <img *ngIf="currentUser$ | async as currentUser" [src]="currentUser.image" class="comment-author-img"/>
                <button class="btn btn-sm btn-primary" type="submit">
                  Post Comment
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 offset-md-2">
        <mc-comment
          *ngFor="let comment of (comments$ | async)"
          [comment]="comment"
          (deleteComment)="removeComment($event)"
        ></mc-comment>
      </div>
    </div>

  </div>
</div>
